/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
  border-radius: 10px;
}

/* * Optional: Makes the sample page fill the window.  */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Hide the original checkbox */
.formInput[type="checkbox"] {
  display: none;
}

/* Custom toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.4s;
  margin-left: 10px;
}

/* The slider/knob */
.switch::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  bottom: 3.5px;
  left: 3px;
  transition: transform 0.4s;
}

/* When the checkbox is checked, move the knob to the right and change the background color */
.formInput[type="checkbox"]:checked + .switch {
  background-color: #007bff;
}

.formInput[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
}

.icon {
  transition: transform 0.3 ease;
  position: absolute;
  /* left: px; */
}
.icon-right {
  transform: translateX(25px);
}
/* Add hover effect for better interactivity */
.switch:hover {
  background-color: #bbb;
}

/* Styling the label text */
.formLabel {
  font-size: 18px;
  color: inherit;
  /* Additional padding to prevent text overlapping */
  padding-right: 10px;
  margin-bottom: 0;
  display: inline-block;
}

.mapContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapSearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30hv;
  padding: 10px;
}

.mapLocationSearchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
